/*Tags*/
*{
    margin: 0.0px;
    padding: 0.0px;
}

body{
    background-image:url("images/weather.png");
}

p{
   line-height: 200%;
}




/*Specific IDs*/
#content{
    width: 100%;
}

#instructions-box{
    margin-bottom: 40px;
}


/*Classes*/
.flex{
    /*Establish flexbox properties*/
    display:flex;
    flex-direction:column;
}

.center{
    justify-content:center;
    align-items:center;
}

.text-box{
    /*size*/    
    width: 400px;
    height: 20px;

    /*formatting*/
    background-color: #FFFFFF;
    border: solid 1px black;
}


.phrase-box{
    border:solid 1px black;

}
